[submodule "nemo-app-frontend"]
	path = nemo-app-frontend
	url = https://github.com/amrmahmoudabdelghany/nemo-app-frontend
[submodule "nemo-app-backend"]
	path = nemo-app-backend
	url = https://github.com/amrmahmoudabdelghany/nemo-app-backend
